<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#" data-tab="search">Search</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-tab="ignored-outages">Ignored Outages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-tab="add-outage">Add Outage</a>
    </li>
</ul>